<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change Password</title>
    </head>

    <body>
        <span th:if="${param.success}">Update password success.</span>
        <span th:if="${param.error}">Password did't match.</span>
        <form th:action="@{/change-password}" th:object="${usersModel}" method="post">
            <block th:if="${domain == 'local' || domain == 'ldap'}">
                <p>Current Password: <input type="password" th:field="*{password}" /></p>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </block>
            <p>New Password: <input type="password" th:field="*{passwordNew}" /></p>
            <div th:if="${#fields.hasErrors('passwordNew')}" th:errors="*{passwordNew}"></div>
            <p>Confirm Password: <input type="password" th:field="*{passwordConfirm}" /></p>
            <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
            <button type="submit">Submit</button>
        </form><br />
        <a th:href="@{/}">Back to index</a>
    </body>
</html>