<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change Password</title>
    </head>

    <body>
        <span th:if="${param.success}">Update password success.</span>
        <span th:if="${param.error}">Password not match.</span>
        <form th:action="@{/change-password}" method="post">
            <block th:if="${domain == 'local' || domain == 'ldap'}">
                <p>Current Password: <input type="password" name="current-password" id="current-password" required /></p>
            </block>
            <p>New Password: <input type="password" name="new-password" id="new-password" required /></p>
            <p>Confirm Password: <input type="password" name="confirm-password" id="confirm-password" required /></p>
            <button type="submit">Submit</button>
        </form><br />
        <a th:href="@{/}">Back to index</a>
    </body>
</html>