<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change Password</title>
    </head>

    <body>
        <span th:if="${param.success}">Update password success.</span>
        <span th:if="${param.error}">Password did't match.</span>
        <form th:action="@{/change-password}" th:object="${changePassword}" method="post">
            <block th:if="${domain == 'local' || domain == 'ldap'}">
                <p>Current Password: <input type="password" th:field="*{currentPassword}" /></p>
                <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
            </block>
            <p>New Password: <input type="password" th:field="*{newPassword}" /></p>
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
            <p>Confirm Password: <input type="password" th:field="*{confirmNewPassword}" /></p>
            <div th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></div>
            <button type="submit">Submit</button>
        </form><br />
        <a th:href="@{/}">Back to index</a>
    </body>
</html>