<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
    </head>

    <body>
        <span th:if="${param.success}">Register success.</span>
        <span th:if="${param.error}">Register not success.</span>
        <form th:action="@{/register/process}" th:object="${usersModel}" method="post">
            <label for="domain">Domain</label><br />
            <input type="radio" th:field="*{domain}" value="local"  required /> Local<br />
            <input type="radio" th:field="*{domain}" value="ldap" /> Ldap<br />
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" required /><br />
            <label for="firstname">First Name</label>
            <input type="text" th:field="*{firstname}" required /><br />
            <label for="lastname">Last Name</label>
            <input type="text" th:field="*{lastname}" required /><br />
            <label for="email">E-Mail</label>
            <input type="text" th:field="*{email}" required /><br />
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" required /><br />
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" th:id="confirmPassword" th:name="confirmPassword" required /><br />
            <input type="submit" value="Submit">
            <a th:href="@{/login}" th:text="${'Login'}"></a>
        </form>
    </body>
</html>